@import "./tailwind.css";

* {
  box-sizing: border-box;
}

.mark-bold {
  font-family: "MarkBold", sans-serif;
}

:root {
  --yellow: #ffcb08;
  --pink: #ed145a;
  --teal: #6cccde;
  --navy: #090a3c;
  --grey: #eeeff0;
}

html {
  background-color: var(--navy);
  font-size: 100%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  background-color: #fff;
  font-family: "MarkLight", sans-serif;
  @apply antialiased;
  @apply text-black;
  /* background-image: url('https://a.storyblok.com/f/48273/1440x7600/f204fef737/bgbody.jpg'); */
  /* background-image: url('https://a.storyblok.com/f/48273/1440x7600/75d83b392e/bgbody.webp'); */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position-y: 100px;
  /* cursor: url(/img/curs.svg), auto; */
}

::selection {
  /* @apply text-pink; */
  text-shadow: 2px 2px var(--yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MarkBold", sans-serif;
  line-height: 1.4;
  font-weight: normal;
}

button,
a {
  /* @apply text-navy; */
  @apply no-underline;
  color: inherit;
  /* cursor: url(/img/curs_hover.svg), pointer; */
}

button:hover,
a:focus,
a:hover {
  /* @apply text-teal; */
}

p {
  @apply mb-3;
  @apply leading-loose;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.vertical {
  text-orientation: sideways;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  font-size: 1.4rem;
  text-align: center;
}

.fadeIn {
  animation: fadeIn_keys 700ms ease 200ms 1 forwards;
}

@keyframes fadeIn_keys {
  to {
    opacity: 1;
  }
}

.will-transform {
  will-change: transform;
}

.heading {
  /* font-size: 40px; */
  @apply text-2xl;
  @apply mark-bold;
  @apply mb-6;
}

@media screen and (min-width: 768px) {
  .heading {
    @apply text-3xl;
  }

  .content {
    column-count: 2;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    /* grid-gap: 3rem; */
  }
}

.bg-teal a:hover {
  /* @apply text-pink; */
}

/**
* Here you would add any custom utilities you need that don't come out of the
* box with Tailwind.
*
* Example :
*
* .bg-pattern-graph-paper { ... }
* .skew-45 { ... }
*
* Or if using a preprocessor or `postcss-import`:
*
* @import "utilities/background-patterns";
* @import "utilities/skew-transforms";
*/

@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

/* .nuxt-link-active , */

.nuxt-link-active:not([class*="btn--"]),
.nuxt-link-exact-active:not([class*="btn--"]) {
  /* @apply text-teal; */
}

.lazy {
  position: relative;
  padding-top: 48%;
}

.lazy img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
  opacity: 0;
  transition: transform 100ms linear;
  will-change: transform, opacity;
}

.lazy img:hover {
  transform: scale(0.96);
}

/* page transitions */

.page-enter-active,
.page-leave-active {
  transition: opacity 200ms, transform 200ms;
  will-change: transform;
}

.page-enter {
  opacity: 0;
  transform: translateY(-60px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(60px);
}

.wobble {
  will-change: transform;
  animation: wobble alternate 4s infinite;
}

@keyframes wobble {
  from {
    transform: translateY(-8px);
  }

  to {
    transform: translateY(8px);
  }
}

.bg-clip {
  -webkit-background-clip: text;
  background-clip: text;
}

.wrap {
  @apply mx-auto max-w-2xl;
}

.row {
  @apply flex flex-wrap -mx-4;
}

.col {
  @apply px-4 w-full;
}

.categories ul {
  @apply list-none;
}

.categories li:not(:last-of-type) {
  @apply mb-4;
}

@media screen and (min-width: 768px) {
  .first {
    order: 1;
  }

  .second {
    order: 2;
  }
}

/* https://www.gradient-animator.com/ */

.gradius {
  background: linear-gradient(
    270deg,
    #ed145a 0%,
    #ed145a 33%,
    #ffcb08 33%,
    #ffcb08 66%,
    #6cccde 66%,
    #6cccde 100%
  );
  background-size: 200% 200%;
  height: 4px;
  width: 100%;
  animation: gradius 50s linear infinite;
}

@keyframes gradius {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* .rte-md {
    white-space: pre-line;
} */

.rte-md h1 {
  color: var(--navy);
  font-size: 2rem;
}

.rte-md h2,
.rte-md h3,
.rte-md h4,
.rte-md h5 {
  color: var(--navy);
  @apply mt-8;
  @apply mb-4;
}

.rte-md li {
  @apply mb-3;
  line-height: 1.8;
  white-space: pre-line;
}

.rte-md hr {
  display: none;
}

.rte-md a {
  color: var(--pink);
  text-decoration: underline;
}

.frame {
  padding-top: 36%;
  overflow: hidden;
  position: relative;
}

.frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
}

/* https://css-tricks.com/snippets/css/fluid-typography/ */
.font-stretch {
  font-size: calc(36px + (80 - 36) * ((100vw - 320px) / (2200 - 320)));
}

.font-stretch--sm {
  font-size: calc(24px + (60 - 24) * ((100vw - 320px) / (2200 - 320)));
}

.bg-atlas {
  background-image: url(/img/a.svg);
  /* background-origin: center; */
  background-size: contain;
  background-position: 72vw 3rem;
  background-repeat: no-repeat;
}

::placeholder,
:-moz-placeholder,
:-ms-input-placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  opacity: 1;
}
